@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

body,
html {
  overflow: hidden;
  margin: 0;
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.card {
  width: 296px;
  height: 172px;
  padding: 12px 20px 8px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../public/grain.png") 50% / cover no-repeat, #cecdc6;
  font-size: 0.875rem;
  font-family: "EB Garamond";
  text-transform: uppercase;
  box-shadow: 6px 11px 24px -1px rgba(0, 0, 0, 0.6);
}

#card__header {
  display: flex;
  justify-content: space-between;
}

#company__title {
  margin: 0;
}

#company__subtitle {
  font-size: 0.5rem;
  margin: 0;
}

#card__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#body__firstname {
  display: inline-block;
  margin: 0;
}

#body__lastname {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
}

#body__title {
  font-size: 0.8125rem;
  margin: 0;
}

#card__footer {
  width: 296px;
  display: flex;
  justify-content: space-between;
}

#footer__text {
  font-size: 0.625rem;
  margin: 0;
  text-decoration: none;
  color: black;
}

@media (min-width: 1100px) {
  .terminal {
    width: 600px;
    height: 400px;
  }

  .card {
    width: 592px;
    height: 344px;
    padding: 24px 40px 16px 40px;
  }

  #card__header {
    width: 592px;
  }

  #header__number,
  #company__title,
  #body__firstname {
    font-size: 1.75rem;
  }

  #company__subtitle {
    font-size: 1rem;
  }

  #body__lastname {
    font-size: 2rem;
  }

  #body__title {
    font-size: 1.625rem;
  }
  #card__footer {
    width: 592px;
    font-size: 1.25rem;
  }
  #footer__text {
    font-size: 1.25rem;
  }
}
